<div class="header-body">
    <div class="main-navigation">
        <!-- <app-main-nav-bar></app-main-nav-bar> -->
        <div class="main-nav-bar">
            <a class="nav-item" href="#experience">
                Dev Experience
            </a>
            <a class="nav-item" href="#education">
                Education
            </a>
            <a class="nav-item" href="#projects">
                Projects
            </a>
            <a class="nav-item" href="#technologies">
                Technologies
            </a>
            <button class="sidebar-btn" (click)="toggleSidebar()">
                    <i class="icon bi bi-list ss-fs-5"></i>
                </button>
        </div>
    </div>
</div>