<section class="projects-section" id="projects">
    <div class="projects-container" toggleInViewClass>
        <div class="bg-img-container" toggleInViewClass>
            <img src="assets/icons/lines.svg" alt="">
        </div>
        <div class="projects-card">
            <div class="project-header">
                <h1 typingEffect="Projects" [delayTime]="500">Projects</h1>
                <p>Welcome to my Projects section. Here, I feature a selection of key projects that best showcase my current skillset and technical capabilities. While I have worked on numerous projects, including those during my learning phase, this section focuses on substantial, impactful projects that reflect advanced challenges and solutions.</p>
            </div>
            <div class="content-container">
                <app-project-card *ngFor="let project of projects"
                [heading]="project.heading"
                [description]="project.description"
                [bulletPoints]="project.bulletPoints"
                [icons]="project.icons"
                >    
                </app-project-card>
            </div>
        </div>
    </div>
</section>