.projects-card {
    width: 100%;
    z-index: 1;
    padding: 10px;
}

.content-container {
    // padding: 0px 0px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-header {
    max-width: 600px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 0px 10px;
}

.project-header p {
    margin-left: 10px;
    padding: 0px 10px;
}

// .project-entry {
//     border-radius: 15px;
//     max-width: 400px;
//     // width: 400px;
//     background-color: var(--primary-card);
//     box-shadow: var(--main-box-shadow);
//     // padding: 10px;
//     margin: 10px;
//     display: flex;
//     justify-content: space-between;
//     flex-direction: column;
// }

.project-entry {
    position: relative;
    border-radius: 15px;
    max-width: 400px;
    max-height: 400px;
    background-color: var(--primary-card);
    box-shadow: var(--main-box-shadow);
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-bottom: 50px;
}

.project-entry.expanded {
    max-height: 1000px;
    // padding-bottom: 50px;
}

// .toggle-expand-btn {
//     position: absolute;
//     bottom: 0px;
//     margin: 10px;
//     padding: 5px 10px;
//     background-color: blue;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     align-self: center;
// }

.toggle-expand-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    // margin: 10px;
    padding: 20px 0px 10px 0px;
    // background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
    background: rgba(255, 255, 255, 0); /* Adjust color and transparency */
    backdrop-filter: blur(10px); /* Apply blur effect */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    z-index: 2;
}

.expanded .toggle-expand-btn {
    bottom: 0px;
}

.toggle-expand-btn:hover {
    background-color: var(--button-hover-bg);
}

.project-entry h3 {
    padding: 0px 5px;
    text-align: center;
}

.tech-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 5px;
    // border-radius: 0px 0px 15px 15px;
    // background-color: rgba(128, 128, 128, 0.452);
    background-color: var(--project-card-footer-bg);

}

.project-description {
    // text-align: center;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 5px;
    border-left: 1px solid var(--text-color);
}

.project-bulletPoints {
    padding-inline-start: 30px;
    padding-right: 5px;
}

.isInView.bg-img-container {
    opacity: var(--main-graphic-opacity);
}

@media screen and (max-width: 800px) {
    
    .project-entry {
        margin: 10px 20px;
    }

}