.intro-page-container {
    height: calc(100vh - 55px);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.text-content {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 5;
    letter-spacing: 0.3rem;
}

.text-content h1 {
    font-size: 2.5rem;
}

.text-content h2 {
    font-size: 1.5rem;
}

.shape-container {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    width: fit-content;
    height: 100%;
    opacity: 10%;
}

.shape-container img {
    filter: invert(1);
    height: 100%;
}

.shape-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150%;
    background: linear-gradient(to right, var(--body-background-color), rgba(255, 255, 255, 0));
}

.detail-section {
    position: absolute;
    bottom: 60px;
    left: 10%;
    width: 50%;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.icon-container {
    padding: 10px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.isInView .icon-container {
    width: 50px;
    height: 50px;
    opacity: 1;
}

.icon-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    // invert color
    filter: invert(1);
    opacity: 0.5;
}

@media screen and (min-width: 700px) {
    .shape-container {
        left: 40%;
    }

    .detail-section {
        flex-direction: row;
    }
    
    
}

@media screen and (min-width: 1000px) {
    .shape-container {
        left: 50%;
    }
    
}

@media screen and (min-width: 1400px) {
    .shape-container {
        left: unset;
        right: -20%;
    }
    
}