<div class="experience-container">
    <div class="experience-card">
        <div class="experience-header">
            <h1 typingEffect="Development Experience" [delayTime]="500">Development Experience</h1>
        </div>
        <div class="content-container">
            <div class="experience-content">
                <!-- <p>
                    I have been working as a software developer for over 5 years. I have experience in developing web applications, mobile applications, and desktop applications. I have worked with various technologies and programming languages such as Java, JavaScript, Python, C#, and PHP. I have also worked with different frameworks and libraries such as Angular, React, and Node.js.
                </p>
                <p>
                    I have experience in developing RESTful APIs, working with databases, and deploying applications to the cloud. I have worked with different databases such as MySQL, PostgreSQL, and MongoDB. I have experience in using version control systems such as Git and working in an Agile environment.
                </p>
                <p>
                    I am passionate about software development and always eager to learn new technologies and improve my skills. I enjoy working on challenging projects and solving complex problems. I am a quick learner and a team player who can work well with others to achieve common goals.
                </p> -->
                <p>
                    I am a dynamic Full Stack Web Developer with over 2 years of professional experience specializing in the development and management of web applications. My technical expertise includes working with modern frameworks and technologies such as Angular, Node.js, Express, and MongoDB. I have extensive experience in building scalable microservices architectures, utilizing Docker for containerization, and implementing real-time data processing solutions.
                </p>
                <p>
                    Throughout my career, I have developed a strong foundation in IT infrastructure, including knowledge of various IT domains such as database management and network systems, enriched by early education and self-taught skills in the web development field. I have adeptly managed end-to-end integration of payment systems using Stripe and have profound experience in configuring and managing databases like Redis and InfluxDB, ensuring data integrity and performance.
                </p>
                <p>
                    I am passionate about leveraging technology to solve real-world problems and am continually expanding my skill set in web development and beyond. I thrive in environments that challenge my abilities and allow me to work on projects that require innovative solutions. As a committed lifelong learner and team collaborator, I am always eager to contribute to and lead projects that push technological boundaries.
                </p>                
            </div>
        </div>
    </div>
</div>