<section class="experience-section" id="experience">
    <div class="experience-container" toggleInViewClass>
        <div class="bg-img-container">
            <img src="assets/icons/contour-lines.svg" alt="">
        </div>
        <div class="experience-card">
            <div class="experience-header">
                <h1 typingEffect="Development Experience" [delayTime]="500">Development Experience</h1>
            </div>
            <div class="content-container">
                <div class="experience-content">
                    <!-- <p>
                        I am a dynamic Full Stack Web Developer with over 2 years of professional experience specializing in the development and management of web applications. My technical expertise includes working with modern frameworks and technologies such as Angular, Node.js, Express, and MongoDB. I have extensive experience in building scalable microservices architectures, utilizing Docker for containerization, and implementing real-time data processing solutions.
                    </p>
                    <p>
                        Throughout my career, I have developed a strong foundation in IT infrastructure, including knowledge of various IT domains such as database management and network systems, enriched by early education and self-taught skills in the web development field. I have adeptly managed end-to-end integration of payment systems using Stripe and have profound experience in configuring and managing databases like Redis and InfluxDB, ensuring data integrity and performance.
                    </p>
                    <p>
                        I am passionate about leveraging technology to solve real-world problems and am continually expanding my skill set in web development and beyond. I thrive in environments that challenge my abilities and allow me to work on projects that require innovative solutions. As a committed lifelong learner and team collaborator, I am always eager to contribute to and lead projects that push technological boundaries.
                    </p>                 -->
                    <p>As a highly skilled and innovative Full Stack Web Developer, I have over 2 years of hands-on experience in designing, developing, and maintaining complex web applications and IoT systems. My background encompasses a broad spectrum of development environments and methodologies, which I have leveraged to create efficient, scalable, and robust solutions.</p>
                    <ul class="experience-list">
                        <li><span class="bullet-heading">Full Stack Proficiency</span>: Proven ability to develop both client-side and server-side applications. Experienced in building responsive, user-friendly interfaces, as well as designing and implementing powerful backend services.</li>
                        <li><span class="bullet-heading">Microservices Architecture</span>: Adept at employing microservices to enhance application modularity, scalability, and maintainability. Successfully implemented microservices in various projects to support dynamic and complex business requirements.</li>
                        <li><span class="bullet-heading">Real-Time Data Processing</span>: Expertise in developing systems that handle real-time data streams, ensuring timely and accurate data visualization. This includes building IoT solutions capable of processing and transforming data from multiple sensors.</li>
                        <li><span class="bullet-heading">API Integration</span>: Skilled in integrating third-party APIs to enhance functionality and streamline processes. Successfully integrated payment gateways, cloud services, and other essential APIs to meet diverse project needs.</li>
                        <li><span class="bullet-heading">Automation and Deployment</span>: Proficient in automating deployment processes and managing CI/CD pipelines. Experienced in containerization and orchestration, ensuring consistent and reliable deployments across various environments.</li>
                        <li><span class="bullet-heading">Custom Hardware and Remote Server Management</span>: Experienced in deploying and maintaining projects on custom hardware and remote servers, ensuring high performance and reliability in diverse operating environments.</li>
                        <li><span class="bullet-heading">Dynamic and Modular Development</span>: Strong advocate for creating dynamic and modular codebases, allowing for easy extension and maintenance. Developed custom component libraries and plug-and-play systems to facilitate flexible and scalable development.</li>
                        <li><span class="bullet-heading">Data Management and Visualization</span>: Competent in handling large datasets, optimizing database performance, and creating intuitive data visualizations. Developed systems for real-time monitoring and analytics, providing actionable insights through comprehensive dashboards.</li>
                        <li><span class="bullet-heading">Problem Solving and Innovation</span>: Demonstrated ability to tackle complex problems with innovative solutions. Passionate about exploring new technologies and methodologies to continuously improve development practices and deliver high-quality products.</li>
                    </ul>
                    <p>With a solid foundation in various IT domains and continuous professional development, I am dedicated to delivering exceptional results and driving technological advancements within any organization.</p>
                </div>
            </div>
        </div>
    </div>
</section>