<section class="education-section" id="education">
    <div class="education-container" toggleInViewClass>
        <div class="education-outer">
            <div class="bg-img-container">
                <img src="assets/icons/education.svg" alt="">
                <img class="second-bg" src="assets/icons/education.svg" alt="">
            </div>
            <div class="education-card">
                <div class="education-header">
                    <h1 typingEffect="Education" [delayTime]="500">Education</h1>
                </div>
                <div class="content-container">
                    <div class="education-content">
                        <h3>High School Diploma, Major in Information Technology</h3>
                        <p>Matriculated in 2021</p>
                        <p>During my high school years, I developed a strong foundation in various IT domains, including programming, database management, and network systems. My coursework included extensive hands-on projects using Delphi, fostering a deep understanding of software development and IT infrastructure. My interest in technology was further enhanced by self-study in Python, setting the stage for my career in web development.</p>
                        <br>
                        <h3>Continuing Professional Development</h3>
                        <p>Starting in 2022, I embraced the opportunity to work as a Junior Software Developer, opting for practical, real-world experience over traditional university education. During this time, I have actively engaged in self-study through platforms like Udemy, enhancing my skills in modern web technologies under the mentorship of senior developers. This practical experience has been instrumental in advancing my expertise and ability to handle complex projects in a dynamic development environment.</p>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>